*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans','Arial',sans-serif;
}
:root{
    --white:#FFFFFF;
    --primary:#1743e3;
    --dark:#333;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 1000;
    text-align: center;
    justify-content: space-between;
    padding: 15px 100px;
}
.header-btn{
    padding: 10px;
}
.header-btn a{
    padding: 10px 20px;
    color: var(--dark);
}
.header-btn .sign-in{
    background: var(--primary);
    color: var(--white);
    border-radius: 0.5rem;
}
.logo{
    font-size: 2rem;
}
.logo span{
    color: var(--primary)
}
.navbar{
    display: flex;
}
.navbar li {
    position: relative;
}
.navbar a{
    padding: 10px;
    font-size: 1.4rem;
    color: var(--dark);
}
.navbar a:hover{
    color: var(--primary);
}
.navbar a.active{
    color: var(--primary);
}