*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Trebuchet Ms', 'Lucida Sans Unicode','Lucida Grande', 'Arial', sans-serif;
}
:root{
    --white:#fff;
    --primary:#1743e3;
    --dark:#333;
    --black:#000;
}
section{
    padding: 15px 100px;
}
.btn{
    display: inline-block;
    width: fit-content;
    padding: 12px 28px;
    background: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: var(--white);
    font-weight: 600;
    transition: .4s ease;
}
.btn:hover{
    background: var(--white);
    color: var(--black);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 15px 100px;
    background: var(--white);
}
.logo{
    font-size: 2rem
}
.logo span{
    color: var(--primary);
}
.navbar a{
    font-size: 1.3rem;
    color: var(--black);
}
.navbar a:hover{
    color: var(--primary);
}
.navbar a.active{
    color: var(--primary);
}
header ul{
    display: flex;
}
header ul li{
    padding: 10px;
}
.nav-link li a {
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    border: 2px solid transparent;
    transform: rotate(45deg);
    transition: .4s ease;
}
.nav-link i{
    font-size: 23px;
    transform: rotate(-45deg);
    color: var(--primary);
}
.nav-link li a:hover{
    border-color: var(--primary);
}


.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.header-container{
    display: grid;
    gap: 100px;
    grid-template-columns: auto auto;
    position: relative;
}

.header-left h1{
    font-size: 3rem;
}
.header-left h3{
    font-size: 2rem;
    font-weight: 400;
    color: var(--primary);
    margin-top: 20px;
}
.header-left p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.sq-box img{
    max-width: 750px;
}
.sq-box{
    height: 450px;
    width: 450px;
    border: 25px solid var(--primary);
    transform: rotate(-45deg);
}
.sq-box img{
    position: absolute;
    transform: rotate(45deg);
}